
<form class="addTodoForm flex-child">
  <input type="text" class="input__text" [(ngModel)]="todo" name="todoText" placeholder="Add Todo" [maxlength]="20"/>
  <input class="btn" type="submit" (click)="addTodo()" value="addTodo" />
</form>

<div class="flex-container">
    <p style="text-align:center">{{ todo }}</p>
<!-- <h3>Todos</h3> -->
  <ul>
    <li *ngFor="let todo of todos; let i=index;" class="todotext flex-child">
      {{ todo }}

      <button (click)="modalToggle(i)" class="btn flex-child"> Delete </button>
      <!-- deleteTodo(todo) -->
      
      <!-- <button (click)="deleteTodo(i)" class="btn flex-child"> Delete </button> -->

      &nbsp;
      <button (click)="editTodo(i)" class="btn flex-child"> Edit </button>
    </li>
  </ul>
 
</div>

  <app-modal [(visible)]="updateModal" >
    <app-update [task]="todo" [index]="currentTodoIndex" (edit)="updateTodo($event)"> </app-update>
  </app-modal>

  <app-modal [(visible)]="modal" [index]="currentTodoIndex">

    <app-delete [task]="todo" [index]="currentTodoIndex" (delete)="deleteTodo($event)"> </app-delete>
  </app-modal>
