/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import url('https://fonts.googleapis.com/css?family=Archivo:400,500,600,700|Roboto:300,400,500,700|Play:400,700|Noto+Sans:400,700');

/*
    font-family: 'Roboto', sans-serif;
    font-family: 'Archivo', sans-serif;
    font-family: 'Play', sans-serif;
    font-family: 'Noto Sans', sans-serif;
*/

 html, body {
    font-family: 'Roboto', sans-serif;
}

.fill-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}