<h2>Add Todos</h2>
<form>
    <!-- (submit)="addTodo()" -->
  <input type="text" [(ngModel)]="text" name="todoText" placeholder="" />
  <input type="submit" (click)="addTodo()" value="Add Todo" />
  <!-- <button type="submit" (click)="deleteTodo(todo.text)">Edit</button> -->
</form>

<h3>Todos</h3>
<ul>
  <li *ngFor="let todo of todos">
    {{ todo.text }}
    <button (click)="deleteTodo(todo.text)">Delete</button> &nbsp;
    <!-- <button (click)="updateTodo(todo.text)">Edit</button> -->
    <button (click)="modal = !modal" class="btn">Update</button>
  </li>
</ul>

todotext: {{todoText}}

<app-modal [(visible)]="modal"  >
    <!-- [todo]="todo" -->
  <app-update (updateTodoEvent)="receiveUpdatedTodo($event)">
    {{ todoText }} </app-update>
  <!-- <button (click)="modal = !modal" class="btn">Close</button> -->
</app-modal>
