<div class="row">
    <div class="col-md-12">
        <h1 *ngIf="postService.post"> {{ postService.post[0].title }} </h1>
        <p  *ngIf="postService.post">  {{ postService.post[0].body }}  </p>
        <hr>
        <div class="row">
            <div class="col-md-8 col-md-push-4">
                <h3>Comments ({{ comments.length }}) </h3>
                <div *ngFor="let comment of comments">
                    <strong>{{ comment.email }}</strong> said: <br>
                    <h4>{{ comment.name }}</h4>
                    <p>{{ comment.body }}</p>
                    <hr>
                </div>
            </div>     
        </div>
    </div>
</div> 