<h2>Add Todos</h2>
<form><!-- (submit)="addTodo()" -->
  <input type="text" [(ngModel)]="todo" name="todoText" placeholder="add todo" />
  <input type="submit" (click)="addTodo()" value="Add Todo" />
</form>

<h3>Todos</h3>
<ul>
  <li *ngFor="let todo of todos; let i = index;"  >
    {{ todo }}
    <button (click)="deleteTodo(todo)">Delete</button> &nbsp;
    <!-- <button (click)="updateTodo(todo.text)">Edit</button> -->
    <button class="btn" 
      (click)="editTodo(i)">Edit</button>
  </li>
</ul>
todo: {{ todo }}

<app-modal [(visible)]="modal" >
  
  <app-update [task]="todo" [index]="currentTodoIndex" (edit)="updateTodo($event)"></app-update>
</app-modal>
