<!--<p> user-registration works! </p>-->
<div class="form-container">
  <h2> Template Driven Form </h2>
  <form class="container" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">

    <md-input-container class="form-half-width">
      <input mdInput class="font-size-16" placeholder="First Name" value="" name="firstname" ngModel>
    </md-input-container>

    <md-input-container class="form-half-width">
      <input mdInput class="font-size-16" placeholder="Last Name" value="" name="lastname" ngModel>
    </md-input-container>


    <!--<md-input-container class="form-half-width">
    <input mdInput class="font-size-16" placeholder="Email" name="email" ngModel>
  </md-input-container>-->


  <md-input-container class="form-half-width">
    <input mdInput class="font-size-16" placeholder="Email" [formControl]="emailFormControl" name="email" ngModel>
    <md-error *ngIf="emailFormControl.hasError('pattern')">
      Please enter a valid email address
    </md-error>
    <md-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </md-error>
  </md-input-container>



    <md-input-container class="form-half-width font-size-16">
      <span mdPrefix>+92 &nbsp;</span>
      <input type="tel" mdInput placeholder="Telephone" name="telephone" ngModel>
      <md-icon mdSuffix>mode_edit</md-icon>
    </md-input-container>

    <!--<input type="text" name="firstname" placeholder="FirstName" ngModel><br>
  <input type="text" name="lastname" placeholder="LastName" ngModel><br>
  <input type="email" name="email" placeholder="Email" ngModel><br>-->

    <md-select class="form-full-width font-size-16 " placeholder="Interests" name="Interests" ngModel>
      <md-option *ngFor="let interest of interests" [value]="interest.value" class="font-size-16">
        {{ interest.viewValue }}
      </md-option>
    </md-select>

    <!--<select name="Interests" title="Interest" ngModel>
    <option value="" selected>Interests</option>
    <option value="Angular">Angular</option>
    <option value="React">React</option>
    <option value="Vue">Vue</option>
  </select>-->
  

      <!--<md-radio-group class="form-full-width " name="gender" ngModel>
        <md-radio-button value="Male">Male</md-radio-button>
        <md-radio-button value="Female">Female</md-radio-button>
      </md-radio-group>-->
  


    <!--<textarea name="message" rows="3" ngModel ></textarea>-->
    <md-input-container class="form-full-width m-t-10 ">
      <input mdInput #message maxlength="256" placeholder="Message" class="font-size-14">
      <md-hint align="start"><strong class="ff-archivo">Don't disclose personal info</strong> </md-hint>
      <md-hint align="end">{{message.value.length}} / 256</md-hint>
    </md-input-container>

    <br>

    <button md-button type="submit" value="Submit" class="sub-btn m-t-10 font-size-16 ff-archivo"> Submit !</button>

  </form>
</div>